.js {
	color: #efd81d;
}

.react {
	color: #48cef7;
}
.node {
	color: #8bbf3d;
}
.mongo {
	color: #3d9537;
}
.mern {
	color: #efd81d;
}
/* ---------- EXPERIENCES ---------- */

#experiences .text-muted {
	color: #a9a9a9 !important;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 5px;
	background: #696969;
	left: 50%;
	margin-left: -2.5px;
	border-radius: 10px;
}
.timeline li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline li .timeline-badge {
	top: 16px;
	left: 50%;
	margin-left: -25px;
}
.timeline-panel-container {
	width: 50%;
	float: left;
}
.timeline-panel-container-inverted {
	width: 50%;
	float: right;
}
.timeline-panel {
	width: 90%;
	float: right;
	margin-right: 40px;
}
.timeline-panel-container-inverted .timeline-panel {
	float: left;
	margin-left: 40px;
}
.timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #005873;
	border-right: 0 solid #005873;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.educ-card:after {
	border-left: 14px solid #a5c4d4;
	border-right: 0 solid #a5c4d4;
	border-bottom: 14px solid transparent;
	content: " ";
}

.bg-html5 {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -10px -10px;
}

.bg-css {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -110px -10px;
}

.bg-js {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -210px -10px;
}

.bg-bootstrap {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -310px -10px;
}

.bg-tailwind {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -410px -10px;
}

.bg-sass {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -510px -10px;
}

.bg-react {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -610px -10px;
}

.bg-redux {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -710px -10px;
}

.bg-next {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -810px -10px;
}

.bg-node {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -910px -10px;
}

.bg-express {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1010px -10px;
}

.bg-java {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1110px -10px;
}

.bg-mongo {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1210px -10px;
}

.bg-postgresql {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1310px -10px;
}

.bg-my_sql {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1410px -10px;
}

.bg-git {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1510px -10px;
}

.bg-github {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1610px -10px;
}

.bg-gitlab {
	width: 80px;
	height: 104px;
	background: url("./Assets/css_sprites.png") -1710px -10px;
}

/* ---------- RESPONSIVE ---------- */
@media screen and (max-device-width: 1024px) {
	/* ---------- EXPERIENCES ---------- */
	.timeline:before {
		left: 95%;
	}
	.timeline li {
		margin-bottom: 20px;
		position: relative;
	}
	.timeline > li:after {
		clear: both;
	}
	.timeline > li:before,
	.timeline > li:after {
		content: " ";
		display: table;
	}
	.timeline li .timeline-badge {
		left: 95%;
		margin-left: -16px;
	}
	.timeline-panel-container {
		width: 100%;
		float: left;
		margin-left: -15px;
	}
	.timeline-panel-container-inverted {
		width: 100%;
		float: left;
	}
	.timeline-panel {
		width: 90%;
		float: left;
		margin-right: 10px;
	}
	.timeline-panel-container-inverted .timeline-panel {
		float: left;
		margin-left: -15px;
	}
	.timeline-panel:after {
		position: absolute;
		top: 27px;
		right: -14px;
		display: inline-block;
		border-top: 14px solid transparent;
		border-left: 14px solid #005873;
		border-right: 0 solid #005873;
		border-bottom: 14px solid transparent;
		content: " ";
	}
	.timeline-panel-container-inverted .timeline-panel:after {
		border-right-width: 0;
		border-left-width: 14px;
		left: 100%;
	}
	.educ-card:after {
		border-left: 14px solid #a5c4d4;
		border-right: 0 solid #a5c4d4;
	}
}

@media print {
	body * {
		visibility: hidden;
	}

	.section-to-print,
	.section-to-print * {
		visibility: visible;
	}

	.section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	}
}
