.css {
	background-color: #214ce5;
	color: #a5c4d4 !important;
}

.html {
	background-color: #e54c21;
}

.js {
	background-color: #fcdc00;
}

.node {
	background-color: #43853d;
	color: #a5c4d4 !important;
}

.react {
	background-color: #61dafb;
}

.redux {
	background-color: #764abc;
	color: #a5c4d4 !important;
}

.sass {
	background-color: #cf649a;
}
